body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: #050404;
    transition: all 0.1s ease-in-out;
}

button {
    font-weight: bold;
    font-size: 22px;
    margin: 10px;
    padding: 15px 30px;
    cursor: pointer;
    background-color: rgb(196, 213, 227);
    box-shadow: 4px 3px 9px rgb(37, 51, 143);
}
button:active {
    transform: translateY(1.5px); /* Move button down when pressed */
    box-shadow: none; /* Remove shadow while pressed */
}

#countDisplay {
    font-size: 48px;
    margin-top: 20px;
    color: rgb(169, 226, 234);
    font-weight: 500;
}
